<div class="container">
    <h3>Event Form</h3>
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <div class="form-group" style="width:30%">
        <label for="name">Name</label>
       <input type="text" class="form-control" style="width:100%" required
            (keyup)="onKey($event)"
            ngControl="name"  #name="ngForm" >
       <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
         Name is required
       </div>


      <label for="name">Name</label>
       <input type="text" class="form-control" required
            (keyup)="onKey($event)"
            ngControl="name"  #name="ngForm" >
       <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
         Name is required
       </div>


      <label for="name">Name</label>
       <input type="text" class="form-control" required
            (keyup)="onKey($event)"
            ngControl="name"  #name="ngForm" >
       <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
         Name is required
       </div>

      </div>
      <button type="button" class="btn btn-default" (click)="newEvent()" [disabled]="!eventForm.form.valid">ADD</button>
    </form>
</div>
